.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/b1.png');
  background-size: cover;
  height: 100vh;
  left:0;
bottom:0;
right:0;
top:0;
  background-position: center;
 
}
body 
{
background-color: #eec4c9;
}
















