.start-screen-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/home.jpg');
  background-size: 105% 105%;
  background-repeat: no-repeat;
  background-position: center;
}

.quiz-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/b1.gif');
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: animatedBackground 5s linear infinite;
  animation-fill-mode: forwards;
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

body 
{
  margin: 0;
  height: 100vh;
  background-position: center;
  
}






















